.THIS .cartItemActionsWrapper {
	float:right;
}
.THIS .actionMenu a.discountWrapper .iconWrapper i {
	margin-bottom:10px;
}
.THIS .discountWrapper .iconWrapper {
	padding-left:3px;
}
.THIS .actionMenu .iconWrapper {
	width:22px;  
	display:inline-block;
	text-align:left;
}
.THIS .hideLabel label {
    display:none;
}
.THIS .labelShrink .slds-form-element label {
    display:none;
}
.THIS .totalPrice {
    color:#60c460 !important;
}
.THIS .Statusgreen{
 color: #228B22 !important;   
}
.THIS .Statusorange{
 color: #f68c2c !important;   
}