.THIS .formWrapper {
	margin-bottom:20px;
}
.THIS .formWrapper input {
	width:100%;
}
.THIS .slds-input {
	width:100% !important;
}
.THIS .inline {
	display:inline-block;
	margin-right:5px;
}
.THIS .radioWrapper {
	width:100%;
	display:block;
	margin:5px 0 15px;
}
.THIS .selected {
	color:#353534;
}
.THIS .slds-radio .slds-form-element__label, .THIS .slds-checkbox .slds-form-element__label {
	font-size:14px;
}
.THIS .inlineLabel {
	margin-top:6px;
	font-size: 90%;
}
.THIS .formWrapper .row {
	margin-bottom:10px;
} 
.THIS .currentBreadcrumbItem {
	margin-left:0;
}
.THIS .buttonWrapper {
	margin-top:10px;
}
.THIS .buttonWrapper a {
    font-size: 11px;
    width: 100% !important;
    padding: 11px 0;
    text-align: center;
    display: block;
}
.THIS .buttonWrapper a.orangeButtonLarge {
	margin-top:10px;
}
.THIS .currentCartImage {
	width:80px;
	height:70px;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
.THIS .currentCartItemPrice {
	margin-top:0;
	display:block;
}
.THIS .tabbedIn {
	margin-left:0;
	margin-top:15px;
}
.THIS .tabbedIn .slds-radio {
	margin-bottom:10px;
}
.THIS .smallButton {
	padding: 2px 10px !important;
	font-size: 80% !important;
	line-height: 14px !important;
	margin-top: 3px;
}
.THIS .sameAsShipping {
	margin-top:5px;
}
.THIS .slds-tabs--default__item {
	border-radius: 0;
    border: none;
    color: #fff;
    background: #f68c2c;
    padding: 8px 16px;
    line-height: 14px;
    font-size: 12px;
    cursor: pointer;
    border:none;
    letter-spacing:0;
    margin:0;
    text-transform:none;
    height:auto;
    margin-right:15px;
}
.THIS .slds-tabs--default__item.slds-has-focus {
    background: #3366cc;
    font-weight:300;
}
.THIS .slds-tabs--default__item.slds-active .slds-tabs--default__link:hover {
	color:#fff;
}
.THIS .slds-tabs_default__nav, .THIS .slds-tabs--default__nav {
	border-bottom:none;
}
.THIS .slds-tabs_default__item:focus:after, 
.THIS .slds-tabs_default__item.slds-has-focus:after, 
.THIS .slds-tabs--default__item:focus:after, 
.THIS .slds-tabs--default__item.slds-has-focus:after {
	content:none;
}
.THIS .slds-tabs_default__link, 
.THIS .slds-tabs--default__link {
	height:auto;
	line-height:100%;
	overflow:visible;
}
.THIS .tabContent {
	padding:0 15px;
	margin-top:-15px;
}
.THIS .tabContent.noPadd {
	padding:0;
}
.THIS .scanButton {
	margin-top:5px;
	display:inline-block;
}
.THIS .select {
	width:100%;
	font-size:13px;
}
.THIS div.uiInput--select label:after{
	width:8%;
}
.THIS .paymentButtonWrapper {
	width:100%;
	display:block;
	text-align:right;
	height:100px;
	margin-top:15px;
}
.THIS .paymentButtons {
	width:190px;
	float:right;
}
.THIS .paymentButtonWrapper a {
	width:100%;
	display:block;
	text-align:center;
	margin-bottom:10px;
}
.THIS .warningText {
	color:red;
}
.THIS .slds-modal__footer .greyButton {
	margin-right:10px;
}
.THIS .slds-tabs--default__item:focus, 
.THIS .slds-tabs--default__item.slds-has-focus {
	color:#fff;
}
.THIS .singlePaymentMethod {
	background:#f2f2f2;
	padding:10px 15px;
	margin-bottom:15px;
}
.THIS .paymentMethodWrapper h4 {
	margin-bottom:0;
}
.THIS .paymentMethodWrapper .subHeader {
	margin-bottom:15px;
	display:block;
}
.THIS .paymentMethodLabel {
	float:left;
	background:#353534;
	color:#fff;
	padding:4px 8px;
	border-radius:3px;
	font-size:11px;
	margin-top:5px;
}
.THIS .paymentInputLabel {
	display:block;
}
.THIS .addNewButtonWrapper {
	margin-bottom:20px;
}
.THIS .paymentMethodPicklist {
	margin-bottom:20px;
}
.THIS .finalizeOrder small {
	display:block;
	margin-bottom:7px;
}
.THIS .field {
    width: inherit;
}
.THIS .uiInput--default input[type="checkbox"] {
	float:left;
	margin-top:5px;
}
.THIS label.uiLabel-left.form-element__label.uiLabel {
	float:right;
	width:90%;
}
.THIS.checkoutWrapper {
	padding-bottom:400px;
}
.THIS .phonePicklist label {
	display:none;
}
.THIS .phonePicklist .slds-select {
	margin-bottom:10px;
}
.THIS .slds-select_container:after {
	top:23px;
}
.THIS .radioWrapper .uiInputCheckbox label {
	margin-top: 5px;
}
.THIS .phoneWrap input, .THIS .emailWrap input {
    margin-bottom:10px;
}
.THIS .fix-margin {
	margin-top:-9px;
}
.THIS .slds-icon {
	width:15px;
	height:15px;
	margin-top:-2px;
}
.THIS .slds-icon-action-approval {
	padding:5px;
	background-color:#2cf644;
}
.THIS a.greyButton.float-right.fix-margin.disabled {
	opacity: 0.7;
	color: #d5d5d5;
	pointer-events: none;
}
.THIS .deliveryNoteTextArea {
	width:70% !important;
    min-height: 130px;
    
}
.THIS .addRequiredBorder{
    border-style: solid !important;
    border-color: red !important;
}
.THIS .disabled {
	opacity: 0.7;
	color: #d5d5d5;
	pointer-events: none;
}