.THIS.slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS.account-access-modal1 .slds-modal__container .slds-modal__content .slds-section .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}