.THIS .discountTableHeader small {
    color:#353534; 
    font-weight:bold;
}
.THIS .row .slds-input {
    color:#999 !important;
}

.THIS .symbol {
    font-size:30px;
    width:50px;
}
.THIS .slds-modal__footer .removefppbutton {
  margin-right: 15px;
}